body { margin: 0; font-size: 12px; line-height: 1.4;  padding-top: 60px;
        padding-bottom: 40px}
.sidebar-nav {
        padding: 9px 0;
      }
  
footer{
    font-size:11px;
    margin-left:20px;
}
/*
*/